--
-- PostgreSQL database dump
--

\restrict u6awrCdAG9kTOgaA0pLFuD3hRvlK9jBVX27uxStlQ06jC3GzwWbFkIA3aim73mI

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ApiKeyStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ApiKeyStatus" AS ENUM (
    'ACTIVE',
    'REVOKED'
);


ALTER TYPE public."ApiKeyStatus" OWNER TO postgres;

--
-- Name: BusinessStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BusinessStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'SUSPENDED'
);


ALTER TYPE public."BusinessStatus" OWNER TO postgres;

--
-- Name: BusinessUserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BusinessUserRole" AS ENUM (
    'ADMIN',
    'MEMBER'
);


ALTER TYPE public."BusinessUserRole" OWNER TO postgres;

--
-- Name: CustomerStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CustomerStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."CustomerStatus" OWNER TO postgres;

--
-- Name: InternalAdminRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InternalAdminRole" AS ENUM (
    'ADMIN',
    'SUPER_ADMIN',
    'OPERATIONS_MANAGER',
    'PRODUCT_MANAGER',
    'SUPPORT_MANAGER',
    'SUPPORT_AGENT',
    'ANALYTICS_MANAGER',
    'FINANCE_MANAGER',
    'READ_ONLY'
);


ALTER TYPE public."InternalAdminRole" OWNER TO postgres;

--
-- Name: JobStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."JobStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."JobStatus" OWNER TO postgres;

--
-- Name: JobType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."JobType" AS ENUM (
    'ACTIVATION_SYNC',
    'WEBHOOK_DELIVERY',
    'USAGE_SYNC',
    'EMAIL_DELIVERY'
);


ALTER TYPE public."JobType" OWNER TO postgres;

--
-- Name: PackageSource; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PackageSource" AS ENUM (
    'PROVIDER_PLAN',
    'CATALOG_PRODUCT',
    'MANUAL'
);


ALTER TYPE public."PackageSource" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'MANUAL',
    'GATEWAY'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: ProviderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProviderStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'DEGRADED',
    'MAINTENANCE',
    'TESTING',
    'ARCHIVED'
);


ALTER TYPE public."ProviderStatus" OWNER TO postgres;

--
-- Name: ProviderType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProviderType" AS ENUM (
    'IBASIS',
    'CHOICE',
    'MOCK',
    'CUSTOM'
);


ALTER TYPE public."ProviderType" OWNER TO postgres;

--
-- Name: TopUpRequestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TopUpRequestStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public."TopUpRequestStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'INTERNAL_ADMIN',
    'BUSINESS_USER'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: WebhookDeliveryStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WebhookDeliveryStatus" AS ENUM (
    'PENDING',
    'SENT',
    'FAILED'
);


ALTER TYPE public."WebhookDeliveryStatus" OWNER TO postgres;

--
-- Name: WebhookEndpointStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WebhookEndpointStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."WebhookEndpointStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: annual_markup_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.annual_markup_settings (
    id text NOT NULL,
    year integer NOT NULL,
    "markupPercent" numeric(65,30) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.annual_markup_settings OWNER TO postgres;

--
-- Name: api_request_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_request_logs (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "apiKeyId" text,
    method text NOT NULL,
    path text NOT NULL,
    "statusCode" integer NOT NULL,
    "durationMs" integer NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "idempotencyKey" text,
    "errorMessage" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.api_request_logs OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    details text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: background_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.background_jobs (
    id text NOT NULL,
    type public."JobType" NOT NULL,
    status public."JobStatus" DEFAULT 'PENDING'::public."JobStatus" NOT NULL,
    payload jsonb NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "maxAttempts" integer DEFAULT 5 NOT NULL,
    "runAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastError" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.background_jobs OWNER TO postgres;

--
-- Name: business_api_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_api_keys (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    "keyHash" text NOT NULL,
    "keyPrefix" text NOT NULL,
    status public."ApiKeyStatus" DEFAULT 'ACTIVE'::public."ApiKeyStatus" NOT NULL,
    "lastUsedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.business_api_keys OWNER TO postgres;

--
-- Name: business_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_users (
    id text NOT NULL,
    "userId" text NOT NULL,
    "businessId" text NOT NULL,
    role public."BusinessUserRole" DEFAULT 'MEMBER'::public."BusinessUserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.business_users OWNER TO postgres;

--
-- Name: business_webhook_endpoints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_webhook_endpoints (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    url text NOT NULL,
    secret text NOT NULL,
    status public."WebhookEndpointStatus" DEFAULT 'ACTIVE'::public."WebhookEndpointStatus" NOT NULL,
    events jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.business_webhook_endpoints OWNER TO postgres;

--
-- Name: businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.businesses (
    id text NOT NULL,
    name text NOT NULL,
    "regNumber" text,
    "taxId" text,
    "contactEmail" text NOT NULL,
    "contactPhone" text,
    address text,
    country text NOT NULL,
    status public."BusinessStatus" DEFAULT 'PENDING'::public."BusinessStatus" NOT NULL,
    "walletBalance" numeric(65,30) DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "rateLimitPerMinute" integer
);


ALTER TABLE public.businesses OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    country text NOT NULL,
    status public."CustomerStatus" DEFAULT 'ACTIVE'::public."CustomerStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: esim_packages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.esim_packages (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "dataGB" integer NOT NULL,
    "validityDays" integer NOT NULL,
    "priceUSD" numeric(65,30) NOT NULL,
    "localPrice" numeric(65,30) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "costPriceUSD" numeric(65,30),
    "markupPercent" numeric(65,30),
    "providerName" text,
    "providerPlanId" text,
    "providerRawData" jsonb,
    "providerId" text,
    "packageCode" text,
    sku text,
    source public."PackageSource" DEFAULT 'CATALOG_PRODUCT'::public."PackageSource" NOT NULL,
    "providerMapping" jsonb,
    "customerDescription" text,
    "displayName" text
);


ALTER TABLE public.esim_packages OWNER TO postgres;

--
-- Name: esim_purchases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.esim_purchases (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "userId" text NOT NULL,
    "packageId" text NOT NULL,
    quantity integer NOT NULL,
    "totalAmount" numeric(65,30) NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "providerResponse" jsonb,
    "providerStatus" text,
    "callbackUrl" text
);


ALTER TABLE public.esim_purchases OWNER TO postgres;

--
-- Name: esims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.esims (
    id text NOT NULL,
    "purchaseId" text NOT NULL,
    iccid text NOT NULL,
    "qrCodeUrl" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "activatedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "customerId" text,
    "deliveredAt" timestamp(3) without time zone,
    "deliveryStatus" text DEFAULT 'NOT_SENT'::text NOT NULL,
    "providerActivationId" text,
    "providerResponse" jsonb,
    "providerStatus" text,
    "providerSubscriptionId" text,
    "activationCode" text,
    imsi text,
    "lastSyncAt" timestamp(3) without time zone
);


ALTER TABLE public.esims OWNER TO postgres;

--
-- Name: idempotency_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.idempotency_records (
    id text NOT NULL,
    key text NOT NULL,
    "businessId" text NOT NULL,
    response jsonb NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.idempotency_records OWNER TO postgres;

--
-- Name: internal_admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.internal_admins (
    id text NOT NULL,
    "userId" text NOT NULL,
    role public."InternalAdminRole" DEFAULT 'ADMIN'::public."InternalAdminRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    permissions jsonb
);


ALTER TABLE public.internal_admins OWNER TO postgres;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "purchaseId" text,
    amount numeric(65,30) NOT NULL,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    "dueDate" timestamp(3) without time zone,
    "paidAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    "invoiceNumber" text,
    metadata jsonb,
    notes text,
    type text DEFAULT 'MANUAL'::text NOT NULL
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: pricing_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pricing_rules (
    id text NOT NULL,
    name text NOT NULL,
    region text,
    country text,
    "packageType" text,
    priority integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "businessId" text,
    description text,
    "endDate" timestamp(3) without time zone,
    "packageId" text,
    "ruleMode" text DEFAULT 'PERCENTAGE'::text NOT NULL,
    "ruleType" text DEFAULT 'GLOBAL_DISCOUNT'::text NOT NULL,
    "startDate" timestamp(3) without time zone,
    value numeric(65,30)
);


ALTER TABLE public.pricing_rules OWNER TO postgres;

--
-- Name: provider_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.provider_configs (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    base_url text NOT NULL,
    auth_type text NOT NULL,
    credentials text NOT NULL,
    adapter_class text DEFAULT 'rest_generic'::text NOT NULL,
    field_mappings jsonb DEFAULT '{}'::jsonb NOT NULL,
    endpoints jsonb DEFAULT '{}'::jsonb NOT NULL,
    webhook_config jsonb DEFAULT '{}'::jsonb NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.provider_configs OWNER TO postgres;

--
-- Name: provider_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.provider_templates (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "connectorType" text DEFAULT 'STANDARD'::text NOT NULL,
    "authType" text DEFAULT 'bearer_token'::text NOT NULL,
    "tokenPlacement" text DEFAULT 'URL_PATH'::text NOT NULL,
    "defaultBaseUrl" text,
    "defaultAuthUrl" text,
    "defaultPlanListPath" text,
    "defaultActivationPath" text,
    "defaultStatusPath" text,
    "defaultUsagePath" text,
    "defaultSuspendPath" text,
    "defaultResumePath" text,
    "defaultResponseListKey" text,
    "defaultFieldMappings" jsonb DEFAULT '{}'::jsonb NOT NULL,
    "defaultCapabilities" jsonb DEFAULT '{}'::jsonb NOT NULL,
    "isSystemTemplate" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.provider_templates OWNER TO postgres;

--
-- Name: providers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.providers (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    type public."ProviderType" NOT NULL,
    "apiBaseUrl" text,
    "apiToken" text,
    environment text DEFAULT 'staging'::text NOT NULL,
    status public."ProviderStatus" DEFAULT 'ACTIVE'::public."ProviderStatus" NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    "supportsESIM" boolean DEFAULT true NOT NULL,
    "supportsUsage" boolean DEFAULT false NOT NULL,
    "supportsTopUp" boolean DEFAULT false NOT NULL,
    "supportsSuspend" boolean DEFAULT false NOT NULL,
    config jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "apiVersion" text DEFAULT 'v1'::text,
    "authType" text DEFAULT 'bearer_token'::text,
    "endpointMappings" jsonb,
    "fieldMappings" jsonb,
    "supportsPools" boolean DEFAULT false NOT NULL,
    "supportsQRCode" boolean DEFAULT false NOT NULL,
    "supportsSuspendResume" boolean DEFAULT false NOT NULL,
    "supportsTemplates" boolean DEFAULT false NOT NULL,
    "supportsUsageSync" boolean DEFAULT false NOT NULL,
    "supportsWebhookPush" boolean DEFAULT false NOT NULL,
    "activationSuccessRate" double precision,
    "averageActivationTimeMs" integer,
    "errorCount" integer DEFAULT 0,
    "isDefaultFallback" boolean DEFAULT false NOT NULL,
    "lastError" text,
    "lastFailedConnection" timestamp(3) without time zone,
    "lastSuccessfulConnection" timestamp(3) without time zone,
    "lastSyncAt" timestamp(3) without time zone,
    "lastSyncResult" text,
    regions jsonb,
    "authUrl" text,
    "adapterStrategy" text,
    "activationPath" text,
    "planListPath" text,
    "responseListKey" text,
    "resumePath" text,
    "statusPath" text,
    "suspendPath" text,
    "tokenPlacement" text DEFAULT 'URL_PATH'::text,
    "usagePath" text,
    "lastSyncCount" integer,
    "topUpPath" text
);


ALTER TABLE public.providers OWNER TO postgres;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: usage_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usage_records (
    id text NOT NULL,
    "esimId" text NOT NULL,
    "dataUsedMB" integer NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.usage_records OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    role public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: wallet_top_up_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wallet_top_up_requests (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "requestedById" text NOT NULL,
    amount numeric(65,30) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    status public."TopUpRequestStatus" DEFAULT 'PENDING'::public."TopUpRequestStatus" NOT NULL,
    "paymentReference" text NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'MANUAL'::public."PaymentMethod" NOT NULL,
    "gatewayProvider" text,
    "gatewayReference" text,
    "proofUrl" text,
    "adminNote" text,
    "approvedById" text,
    "approvedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.wallet_top_up_requests OWNER TO postgres;

--
-- Name: wallet_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wallet_transactions (
    id text NOT NULL,
    "businessId" text NOT NULL,
    amount numeric(65,30) NOT NULL,
    type text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.wallet_transactions OWNER TO postgres;

--
-- Name: webhook_deliveries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.webhook_deliveries (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "endpointId" text NOT NULL,
    "eventType" text NOT NULL,
    payload jsonb NOT NULL,
    status public."WebhookDeliveryStatus" DEFAULT 'PENDING'::public."WebhookDeliveryStatus" NOT NULL,
    "responseCode" integer,
    "responseBody" text,
    attempts integer DEFAULT 0 NOT NULL,
    "nextRetryAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "sentAt" timestamp(3) without time zone
);


ALTER TABLE public.webhook_deliveries OWNER TO postgres;

--
-- Data for Name: annual_markup_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.annual_markup_settings (id, year, "markupPercent", "isActive", "createdBy", "createdAt", "updatedAt") FROM stdin;
cmp6ssl2x000c12emr5880afw	2026	10.000000000000000000000000000000	t	cmovg0cmf0000o7pg7k88hnlf	2026-05-15 10:52:08.505	2026-05-15 10:52:08.505
\.


--
-- Data for Name: api_request_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_request_logs (id, "businessId", "apiKeyId", method, path, "statusCode", "durationMs", "ipAddress", "userAgent", "idempotencyKey", "errorMessage", "createdAt") FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: background_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_api_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_webhook_endpoints; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.business_webhook_endpoints (id, "businessId", name, url, secret, status, events, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: esim_packages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: esim_purchases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.esim_purchases (id, "businessId", "userId", "packageId", quantity, "totalAmount", status, "createdAt", "updatedAt", "providerResponse", "providerStatus", "callbackUrl") FROM stdin;
cmpmqmp8s0008gr9la2tyj60o	cmou5yjm400011309q36vjqr1	cmou5yjqy00021309defh9e8h	cmpmiexbg001dcychzmo3btik	1	10.000000000000000000000000000000	PENDING_ACTIVATION	2026-05-26 14:35:53.547	2026-05-26 14:35:53.547	{"esims": [], "orderId": "", "success": true, "providerName": "Choice Wireless", "providerStatus": "ACTIVATED"}	ACTIVATED	\N
\.


--
-- Data for Name: esims; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.esims (id, "purchaseId", iccid, "qrCodeUrl", status, "activatedAt", "expiresAt", "createdAt", "updatedAt", "customerId", "deliveredAt", "deliveryStatus", "providerActivationId", "providerResponse", "providerStatus", "providerSubscriptionId", "activationCode", imsi, "lastSyncAt") FROM stdin;
cmpmqmp8v000agr9lcxnq9a3o	cmpmqmp8s0008gr9la2tyj60o	PENDING-1779806153550-0	\N	PENDING_ACTIVATION	\N	2026-05-27 14:35:53.55	2026-05-26 14:35:53.552	2026-05-26 14:39:01	cmou88p660001143t9f8xahpm	\N	NOT_SENT	\N	\N	PENDING	\N	\N	\N	\N
\.


--
-- Data for Name: idempotency_records; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.idempotency_records (id, key, "businessId", response, "expiresAt", "createdAt") FROM stdin;
cmoym2w78000bbpjcfpdmkrr1	cmovg0cof0003o7pg7g7ydl9x:qa-test-001	cmovg0cof0003o7pg7g7ydl9x	{"esims": [{"id": "cmoym2w700005bpjcrqay9wht", "iccid": "89012345678917783473227390", "status": "PENDING_ACTIVATION", "qrCodeUrl": "https://api.onesim.africa/qr/89012345678917783473227390"}], "status": "PENDING_ACTIVATION", "orderId": "cmoym2w6w0003bpjc4d0jhr1d", "success": true, "customerId": "cmowstx600002mm7a86ild4yd"}	2026-05-10 17:22:02.755	2026-05-09 17:22:02.756
\.


--
-- Data for Name: internal_admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.internal_admins (id, "userId", role, "createdAt", "updatedAt", "isActive", "lastLoginAt", permissions) FROM stdin;
cmovg0cmj0002o7pgff1xonz5	cmovg0cmf0000o7pg7k88hnlf	SUPER_ADMIN	2026-05-07 12:08:47.852	2026-05-07 12:08:47.852	t	\N	\N
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pricing_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pricing_rules (id, name, region, country, "packageType", priority, "isActive", "createdBy", "createdAt", "updatedAt", "businessId", description, "endDate", "packageId", "ruleMode", "ruleType", "startDate", value) FROM stdin;
\.


--
-- Data for Name: provider_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.provider_configs (id, name, slug, base_url, auth_type, credentials, adapter_class, field_mappings, endpoints, webhook_config, active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: provider_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: providers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.settings (id, key, value, "createdAt", "updatedAt") FROM stdin;
cmpcv1pbn0005y6ys9zrtqsim	default_esim_provider_id	cmpctxhlt0000y6ys3t3380g2	2026-05-19 16:41:50.196	2026-05-19 16:41:50.196
\.


--
-- Data for Name: usage_records; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usage_records (id, "esimId", "dataUsedMB", "timestamp") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wallet_top_up_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wallet_top_up_requests (id, "businessId", "requestedById", amount, currency, status, "paymentReference", "paymentMethod", "gatewayProvider", "gatewayReference", "proofUrl", "adminNote", "approvedById", "approvedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: wallet_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: webhook_deliveries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.webhook_deliveries (id, "businessId", "endpointId", "eventType", payload, status, "responseCode", "responseBody", attempts, "nextRetryAt", "createdAt", "sentAt") FROM stdin;
\.


--
-- Name: annual_markup_settings annual_markup_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.annual_markup_settings
    ADD CONSTRAINT annual_markup_settings_pkey PRIMARY KEY (id);


--
-- Name: api_request_logs api_request_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_request_logs
    ADD CONSTRAINT api_request_logs_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: background_jobs background_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.background_jobs
    ADD CONSTRAINT background_jobs_pkey PRIMARY KEY (id);


--
-- Name: business_api_keys business_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_api_keys
    ADD CONSTRAINT business_api_keys_pkey PRIMARY KEY (id);


--
-- Name: business_users business_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_users
    ADD CONSTRAINT business_users_pkey PRIMARY KEY (id);


--
-- Name: business_webhook_endpoints business_webhook_endpoints_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_webhook_endpoints
    ADD CONSTRAINT business_webhook_endpoints_pkey PRIMARY KEY (id);


--
-- Name: businesses businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: esim_packages esim_packages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esim_packages
    ADD CONSTRAINT esim_packages_pkey PRIMARY KEY (id);


--
-- Name: esim_purchases esim_purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esim_purchases
    ADD CONSTRAINT esim_purchases_pkey PRIMARY KEY (id);


--
-- Name: esims esims_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esims
    ADD CONSTRAINT esims_pkey PRIMARY KEY (id);


--
-- Name: idempotency_records idempotency_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.idempotency_records
    ADD CONSTRAINT idempotency_records_pkey PRIMARY KEY (id);


--
-- Name: internal_admins internal_admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internal_admins
    ADD CONSTRAINT internal_admins_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: pricing_rules pricing_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_rules
    ADD CONSTRAINT pricing_rules_pkey PRIMARY KEY (id);


--
-- Name: provider_configs provider_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provider_configs
    ADD CONSTRAINT provider_configs_pkey PRIMARY KEY (id);


--
-- Name: provider_templates provider_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provider_templates
    ADD CONSTRAINT provider_templates_pkey PRIMARY KEY (id);


--
-- Name: providers providers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: usage_records usage_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_records
    ADD CONSTRAINT usage_records_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wallet_top_up_requests wallet_top_up_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_top_up_requests
    ADD CONSTRAINT wallet_top_up_requests_pkey PRIMARY KEY (id);


--
-- Name: wallet_transactions wallet_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT wallet_transactions_pkey PRIMARY KEY (id);


--
-- Name: webhook_deliveries webhook_deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.webhook_deliveries
    ADD CONSTRAINT webhook_deliveries_pkey PRIMARY KEY (id);


--
-- Name: annual_markup_settings_year_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX annual_markup_settings_year_key ON public.annual_markup_settings USING btree (year);


--
-- Name: api_request_logs_businessId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "api_request_logs_businessId_createdAt_idx" ON public.api_request_logs USING btree ("businessId", "createdAt");


--
-- Name: api_request_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "api_request_logs_createdAt_idx" ON public.api_request_logs USING btree ("createdAt");


--
-- Name: background_jobs_status_runAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "background_jobs_status_runAt_idx" ON public.background_jobs USING btree (status, "runAt");


--
-- Name: business_api_keys_keyPrefix_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "business_api_keys_keyPrefix_key" ON public.business_api_keys USING btree ("keyPrefix");


--
-- Name: business_users_userId_businessId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "business_users_userId_businessId_key" ON public.business_users USING btree ("userId", "businessId");


--
-- Name: esim_packages_packageCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "esim_packages_packageCode_key" ON public.esim_packages USING btree ("packageCode");


--
-- Name: esim_packages_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX esim_packages_sku_key ON public.esim_packages USING btree (sku);


--
-- Name: esims_iccid_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX esims_iccid_key ON public.esims USING btree (iccid);


--
-- Name: idempotency_records_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idempotency_records_key_key ON public.idempotency_records USING btree (key);


--
-- Name: internal_admins_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "internal_admins_userId_key" ON public.internal_admins USING btree ("userId");


--
-- Name: invoices_purchaseId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "invoices_purchaseId_key" ON public.invoices USING btree ("purchaseId");


--
-- Name: provider_configs_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX provider_configs_slug_key ON public.provider_configs USING btree (slug);


--
-- Name: providers_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX providers_code_key ON public.providers USING btree (code);


--
-- Name: settings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX settings_key_key ON public.settings USING btree (key);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: wallet_top_up_requests_paymentReference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "wallet_top_up_requests_paymentReference_key" ON public.wallet_top_up_requests USING btree ("paymentReference");


--
-- Name: api_request_logs api_request_logs_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_request_logs
    ADD CONSTRAINT "api_request_logs_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: business_api_keys business_api_keys_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_api_keys
    ADD CONSTRAINT "business_api_keys_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: business_users business_users_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_users
    ADD CONSTRAINT "business_users_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: business_users business_users_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_users
    ADD CONSTRAINT "business_users_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: business_webhook_endpoints business_webhook_endpoints_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_webhook_endpoints
    ADD CONSTRAINT "business_webhook_endpoints_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customers customers_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT "customers_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: esim_packages esim_packages_providerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esim_packages
    ADD CONSTRAINT "esim_packages_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES public.providers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: esim_purchases esim_purchases_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esim_purchases
    ADD CONSTRAINT "esim_purchases_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: esim_purchases esim_purchases_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esim_purchases
    ADD CONSTRAINT "esim_purchases_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.esim_packages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: esim_purchases esim_purchases_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esim_purchases
    ADD CONSTRAINT "esim_purchases_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: esims esims_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esims
    ADD CONSTRAINT "esims_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: esims esims_purchaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esims
    ADD CONSTRAINT "esims_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES public.esim_purchases(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: internal_admins internal_admins_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internal_admins
    ADD CONSTRAINT "internal_admins_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoices invoices_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT "invoices_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoices invoices_purchaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT "invoices_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES public.esim_purchases(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pricing_rules pricing_rules_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_rules
    ADD CONSTRAINT "pricing_rules_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pricing_rules pricing_rules_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_rules
    ADD CONSTRAINT "pricing_rules_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.esim_packages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: usage_records usage_records_esimId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_records
    ADD CONSTRAINT "usage_records_esimId_fkey" FOREIGN KEY ("esimId") REFERENCES public.esims(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: wallet_top_up_requests wallet_top_up_requests_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_top_up_requests
    ADD CONSTRAINT "wallet_top_up_requests_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: wallet_top_up_requests wallet_top_up_requests_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_top_up_requests
    ADD CONSTRAINT "wallet_top_up_requests_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: wallet_top_up_requests wallet_top_up_requests_requestedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_top_up_requests
    ADD CONSTRAINT "wallet_top_up_requests_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: wallet_transactions wallet_transactions_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "wallet_transactions_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: webhook_deliveries webhook_deliveries_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.webhook_deliveries
    ADD CONSTRAINT "webhook_deliveries_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: webhook_deliveries webhook_deliveries_endpointId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.webhook_deliveries
    ADD CONSTRAINT "webhook_deliveries_endpointId_fkey" FOREIGN KEY ("endpointId") REFERENCES public.business_webhook_endpoints(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict u6awrCdAG9kTOgaA0pLFuD3hRvlK9jBVX27uxStlQ06jC3GzwWbFkIA3aim73mI

